.customtooltipcell{
    padding: 2px;    
}

.customtooltiptable{
    background-color: #FFFFE0; 
    border: 1px solid black;
}


.customtooltip{
    position: absolute;
    display: none;
    width: 10px;
    background-color: #FFFFE0;
    z-index: 500;
    /* shadow for IE only */
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#736F6E,direction=135,strength=5);
}


