/* Tree Style */
.nodrag {
    -moz-user-select: none;
    -khtml-user-select:none;
    -moz-user-focus: ignore;
    -moz-user-input: disabled;
}
.treetitle {
	padding:2px;
	_cursor:default;
	
	font-family: Verdana,Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: transparent;
}
.editednode {
	padding:2px;
	cursor:default;
	background-color: #FFFFFF;
	color: #000000;
	
	font-family: Verdana,Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.editednodeinput {
	background-color: #FFFFFF;
	color: #000000;
	
	width: 150px;
	height: 17px;
	
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	
	font-family: Verdana,Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.treetitleselectedfocused {
	padding:2px;
	_cursor:default;
	background-color: highlight;
	color: highlighttext;
	
	font-family: Verdana,Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.treetitleselectedblured {
	padding:2px;
	_cursor:default;
	background-color: menu;
	color: windowtext;
	font-family: Verdana,Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.treetitleOutOfFocus {
	padding:2px;
	_cursor:default;
	background-color: #C5D1D9;
	color: windowtext;
	font-family: Verdana,Arial, Helvetica, sans-serif;
	font-size: 11px;
}
