.dialogtable {
	border-top: 1px solid #000033;
	border-left: 1px solid #000033;
	border-right: 2px solid #000033;
	border-bottom: 2px solid #000033;
	background-color:#FFFFFF;
}
.dialogcontent {
	background-color:#C2C4B6; 
}
.dialoginsetframe {
       border-left:solid 2px #808080;
       border-top:solid 2px #808080;
       border-right:solid 1px #FFFFFF;
       border-bottom:solid 1px #FFFFFF;
       background-color:#E9E8DE;

}
.dialoglabel {
       padding-bottom: 4px;
}
.dialogcell {
	padding-left:10px;
	padding-right:10px;
}
.backingTable {
	border: solid 1px #999999;
	background-color: #FFFFFF;
}
.insidebutton {
         background-color:#E9E8DE; color: #000033; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; font-weight:bold; FONT-SIZE:100%; border: solid 1px #000033; padding-top:2px;padding-bottom:2px; _cursor:hand; cursor:pointer;
}

.insidebuttonhover {
         background-color:#C2C4B6; color: #000033; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; font-weight:bold; FONT-SIZE:100%; border: solid 1px #000033;padding-top:2px;padding-bottom:2px; _cursor:hand; cursor:pointer;
}
.insidebuttondisabled {
         background-color:#E9E8DE; color: #999999; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; font-weight:bold; FONT-SIZE:100%; border: solid 1px #999999;padding-top:2px;padding-bottom:2px;
}
.dialogBackgroundBorder {
	background-color:#FFFFFF;
}
.dialogTitle {
	FONT-SIZE: 70%; 
	font-weight:bold;
	color:#000033;
	padding-bottom:5px;
	padding-top:5px;
	padding-left:10px;
	
}
.dialogProductTitle {
	letter-spacing: 2px; 
	font-weight: normal; 
	font-size: 165%; 
	color: #000033;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}
.dialogProductTitleModifier {
	FONT-WEIGHT: bold; 
	COLOR: #A72B1B; 
	font-size:150%;
	FONT-FAMILY:  Verdana, Arial, Helvetica, sans-serif; 
	LETTER-SPACING: 2px; 
}
.dialogInnerLabel {
	line-height:20px;
}
.dialogInnerValue {
	font-weight:bold;
}
.hazeLayer {
	-moz-opacity:.7;filter:alpha(opacity=60);background-color:#D2D6DA;z-index:80
}
.divTable {
	height:100%;
	width:100%;
	padding:10px;
	padding-bottom:8px;
	vertical-align:top;
	border:2px solid white;
}
.dialogImagebutton, .dialogImagebuttondown {
	background-color:#C0C0C0;
	color: #000033;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE:80%;
	border: 1px solid #FFFFFF;
	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
	_cursor:hand;
	cursor:pointer;
	text-decoration: none;
}
.dialogImagebuttondown {
	border: 1px solid #808080;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

.formcontent {
	background-color:#E9E8DE; 
}
.formheader {
	background-color:#C2C4B6; 
}
.formheaderbutton {
	background-color:#E9E8DE; color: #000033; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE:90%; border: solid 1px #000033; padding-top:2px;padding-bottom:2px; _cursor:hand; cursor:pointer;
}
.formheaderbuttonhover {
	background-color:#C2C4B6; color: #000033; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE:90%; border: solid 1px #000033; padding-top:2px;padding-bottom:2px; _cursor:hand; cursor:pointer;
}

a.formlink {
	font-size:90%;
	font-weight:normal;
	color:#054173;
}
a.formlink:hover {
	color:#993200;
}
