<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">
	
	<bean id="reportJobsPersistenceHibernateService" class="com.jaspersoft.jasperserver.api.engine.scheduling.hibernate.HibernateReportJobsPersistenceService">
		<property name="sessionFactory" ref="sessionFactory"/>
		<property name="securityContextProvider" ref="securityContextProvider"/>
	</bean>

	<bean id="reportJobsPersistenceTransactionInterceptor" class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager" ref="transactionManager"/>
		<property name="transactionAttributes">
			<props>
				<prop key="load*">PROPAGATION_REQUIRED</prop>
				<prop key="list*">PROPAGATION_REQUIRED</prop>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	
	<bean id="reportJobsPersistenceService" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="interceptorNames">
			<list>
				<idref local="reportJobsPersistenceTransactionInterceptor"/>
				<idref bean="reportJobSecurity"/>
				<idref local="reportJobsPersistenceHibernateService"/>
			</list>
		</property>
	</bean>

	<bean id="reportSchedulerMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="${report.scheduler.mail.sender.host}"/>
		<property name="username" value="${report.scheduler.mail.sender.username}"/>
		<property name="password" value="${report.scheduler.mail.sender.password}"/>
		<property name="protocol" value="${report.scheduler.mail.sender.protocol}"/>
		<property name="port" value="${report.scheduler.mail.sender.port}"/>
	</bean>

	<bean id="quartzScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" lazy-init="false" destroy-method="destroy">
		<property name="dataSource" ref="dataSource"/>
		<property name="transactionManager" ref="transactionManager"/>
		<property name="configLocation" value="/WEB-INF/js.quartz.properties"/>
		<property name="waitForJobsToCompleteOnShutdown" value="false"/>
		<property name="autoStartup" value="false"/>
		<property name="applicationContextSchedulerContextKey" value="applicationContext"/>
		<property name="quartzProperties">
			<props>
				<prop key="org.quartz.jobStore.selectWithLockSQL">SELECT * FROM {0}LOCKS UPDLOCK WHERE LOCK_NAME = ?</prop>
			</props>
		</property>
		<property name="schedulerContextAsMap">
			<map>
				<entry key="jobPersistenceService" value-ref="reportJobsPersistenceService"/>
				<entry key="engineService" value-ref="engineService"/>
				<entry key="virtualizerFactory" value-ref="fileVirtualizerFactory"/>
				<entry key="repositoryService" value-ref="repositoryService"/>
				<entry key="mailSender" value-ref="reportSchedulerMailSender"/>
				<entry key="mailFromAddress" value="${report.scheduler.mail.sender.from}"/>
				<entry key="loggingService" value-ref="loggingService"/>
				<entry key="securityContextProvider" value-ref="securityContextProvider"/>
				<entry key="hyperlinkProducerFactory">
					<bean class="net.sf.jasperreports.engine.export.JRHyperlinkProducerMapFactory">
						<property name="producersMap">
							<map>
								<entry key="ReportExecution" value-ref="schedulerReportExecutionHyperlinkProducer"/>
							</map>
						</property>
					</bean>
				</entry>
                <entry key="encodingProvider" value-ref="encodingProvider"/>
                <entry key="exportParametersMap" value-ref="jobExportParametersMap"/>
				<entry key="dataContainerFactory">
					<bean class="com.jaspersoft.jasperserver.api.metadata.common.domain.FileBufferedDataContainerFactory"/>
				</entry>
                <entry key="contentResourceURIResolver"><ref bean="contentResourceURIResolver"/></entry>
                <entry key="lockManager">
                	<bean class="com.jaspersoft.jasperserver.api.metadata.common.util.LocalLockManager"/>
                </entry>
			</map>
		</property>
	</bean>
	
	<bean id="schedulerReportExecutionHyperlinkProducer" class="com.jaspersoft.jasperserver.api.engine.scheduling.ReportExecutionHyperlinkProducerFactory"
		parent="baseReportExecutionHyperlinkProducer">
		<property name="deploymentInformation"><ref bean="defaultWebDeploymentInformation"/></property>
	</bean>
	
	<bean id="reportQuartzScheduler" class="com.jaspersoft.jasperserver.api.engine.scheduling.quartz.ReportJobsQuartzScheduler">
		<property name="scheduler" ref="quartzScheduler"/>
		<property name="reportExecutionJobClass">
			<value>com.jaspersoft.jasperserver.api.engine.scheduling.quartz.ReportExecutionJob</value>
		</property>
	</bean>
	
	<bean id="reportScheduler" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="transactionManager"/>
		<property name="target" ref="reportQuartzScheduler"/>
		<property name="transactionAttributes">
			<props>
				<prop key="remove*">PROPAGATION_REQUIRED</prop>
				<prop key="schedule*">PROPAGATION_REQUIRED</prop>
				<prop key="reschedule*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	
	<bean id="defaultReportJobValidator" class="com.jaspersoft.jasperserver.api.engine.scheduling.DefaultReportJobValidator">
		<property name="repository" ref="repositoryService"/>
	</bean>

	<bean id="reportSchedulingFacade" class="com.jaspersoft.jasperserver.api.engine.scheduling.ReportSchedulingFacade">
		<property name="persistenceService" ref="reportJobsPersistenceService"/>
		<property name="jobsInternalService" ref="reportJobsPersistenceService"/>
		<property name="scheduler" ref="reportScheduler"/>
		<property name="validator" ref="defaultReportJobValidator"/>
	</bean>

	<bean id="reportSchedulingServiceTransactionInterceptor" class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager" ref="transactionManager"/>
		<property name="transactionAttributes">
			<props>
				<prop key="get*">PROPAGATION_REQUIRED</prop>
				<prop key="remove*">PROPAGATION_REQUIRED</prop>
				<prop key="reportJobFinalized*">PROPAGATION_REQUIRED</prop>
				<prop key="schedule*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	
	<bean id="reportSchedulingService" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="interceptorNames">
			<list>
				<idref local="reportSchedulingServiceTransactionInterceptor"/>
				<idref local="reportSchedulingFacade"/>
			</list>
		</property>
	</bean>
    
	<bean id="schedulingReportDeleteListener" class="com.jaspersoft.jasperserver.api.engine.scheduling.SchedulingReportDeleteListener">
		<property name="schedulingService" ref="reportSchedulingService"/>
	</bean>
    
	<bean id="schedulingReportDeleteListenerRegisterer" class="com.jaspersoft.jasperserver.api.metadata.common.service.ResourceEventListenerProcessor" lazy-init="false">
		<property name="registry" ref="metadataRepositoryDeleteListener"/>
		<property name="listenerBeanName" value="schedulingReportDeleteListener"/>
	</bean>

	<bean class="com.jaspersoft.jasperserver.api.common.util.spring.GenericBeanUpdater" lazy-init="false">
    	<property name="definition" ref="addRepositoryListener"/>
    	<property name="valueRef" value="schedulingReportDeleteListener"/>
	</bean>
	
	<bean id="quartzSchedulerControl" class="com.jaspersoft.jasperserver.api.engine.scheduling.quartz.QuartzSchedulerControl"
		depends-on="reportSchedulingService" init-method="start">
		<property name="scheduler" ref="quartzScheduler"/>
	</bean>
	
	<!-- Security -->	
	<bean id="reportJobAclDao" class="com.jaspersoft.jasperserver.api.engine.scheduling.security.ReportJobAclDao">
		<property name="reportJobsInternalService" ref="reportJobsPersistenceService"/>
		<property name="administratorRole" value="ROLE_ADMINISTRATOR"/>
	</bean>
	
	<bean id="reportJobAclProvider" class="org.acegisecurity.acl.basic.BasicAclProvider">
		<property name="basicAclDao" ref="reportJobAclDao"/>
		<property name="basicAclEntryCache" ref="reportJobAclEntryCache"/>
	</bean>
	
	<bean id="reportJobUpdateVoter" class="org.acegisecurity.vote.BasicAclEntryVoter">
		<property name="processConfigAttribute"><value>ACL_REPORT_JOB_UPDATE</value></property>
		<property name="processDomainObjectClass"><value>com.jaspersoft.jasperserver.api.engine.scheduling.domain.ReportJob</value></property>
		<property name="aclManager" ref="reportJobAclManager"/>
		<property name="requirePermission">
			<list>
				<ref bean="SimpleAclEntry.READ_WRITE"/>
				<ref bean="SimpleAclEntry.ADMINISTRATION"/>
			</list>
		</property>
	</bean>
	
	<bean id="reportJobDeletionVoter" class="org.acegisecurity.vote.BasicAclEntryVoter">
		<property name="processConfigAttribute"><value>ACL_REPORT_JOB_DELETE</value></property>
		<property name="processDomainObjectClass"><value>com.jaspersoft.jasperserver.api.engine.scheduling.domain.ReportJobIdHolder</value></property>
		<property name="aclManager" ref="reportJobAclManager"/>
		<property name="requirePermission">
			<list>
				<ref bean="SimpleAclEntry.DELETE"/>
				<ref bean="SimpleAclEntry.ADMINISTRATION"/>
			</list>
		</property>
	</bean>
	
	<bean id="reportJobLoadVoter" class="org.acegisecurity.vote.BasicAclEntryVoter">
		<property name="processConfigAttribute"><value>ACL_REPORT_JOB_READ</value></property>
		<property name="processDomainObjectClass"><value>com.jaspersoft.jasperserver.api.engine.scheduling.domain.ReportJobIdHolder</value></property>
		<property name="aclManager" ref="reportJobAclManager"/>
		<property name="requirePermission">
			<list>
				<ref bean="SimpleAclEntry.READ"/>
				<ref bean="SimpleAclEntry.ADMINISTRATION"/>
			</list>
		</property>
	</bean>

	<bean id="reportJobAccessDecisionManager" class="org.acegisecurity.vote.AffirmativeBased">
		<property name="allowIfAllAbstainDecisions"><value>true</value></property>
		<property name="decisionVoters">
			<list>
				<ref bean="reportJobUpdateVoter"/>
				<ref bean="reportJobDeletionVoter"/>
				<ref bean="reportJobLoadVoter"/>
			</list>
		</property>
	</bean>
	
	<bean id="reportJobAclManager" class="org.acegisecurity.acl.AclProviderManager">
		<property name="providers">
			<list>
				<ref bean="reportJobAclProvider"/>
			</list>
		</property>
	</bean>

	<bean id="reportJobAfterList" class="org.acegisecurity.afterinvocation.BasicAclEntryAfterInvocationCollectionFilteringProvider">
		<property name="processConfigAttribute" value="AFTER_ACL_REPORT_JOB_LIST"/>
		<property name="processDomainObjectClass" value="com.jaspersoft.jasperserver.api.engine.scheduling.domain.ReportJobSummary"/>
		<property name="aclManager" ref="reportJobAclManager"/>
		<property name="requirePermission">
			<list>
				<ref bean="SimpleAclEntry.READ"/>
				<ref bean="SimpleAclEntry.ADMINISTRATION"/>
			</list>
		</property>
	</bean>
	
	<bean id="reportJobAfterInvocationManager" class="org.acegisecurity.afterinvocation.AfterInvocationProviderManager">
		<property name="providers">
			<list>
				<ref bean="reportJobAfterList"/>
			</list>
		</property>
	</bean>
	
	<bean id="reportJobSecurity" class="org.acegisecurity.intercept.method.aopalliance.MethodSecurityInterceptor">
		<property name="authenticationManager" ref="authenticationManager"/>
		<property name="accessDecisionManager" ref="reportJobAccessDecisionManager"/>
		<property name="afterInvocationManager" ref="reportJobAfterInvocationManager"/>
		<property name="objectDefinitionSource">
			<value>
				com.jaspersoft.jasperserver.api.engine.scheduling.service.ReportJobsPersistenceService.listJobs=AFTER_ACL_REPORT_JOB_LIST
				com.jaspersoft.jasperserver.api.engine.scheduling.service.ReportJobsPersistenceService.loadJob=ACL_REPORT_JOB_READ
				com.jaspersoft.jasperserver.api.engine.scheduling.service.ReportJobsPersistenceService.updateJob=ACL_REPORT_JOB_UPDATE
				com.jaspersoft.jasperserver.api.engine.scheduling.service.ReportJobsPersistenceService.deleteJob=ACL_REPORT_JOB_DELETE
			</value>
		</property>
	</bean>
	
	<bean id="reportJobAclCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
		<property name="cacheManager" ref="cacheManager"/>
		<property name="cacheName">
			<value>report.job.acl</value>
		</property>
	</bean>
	
	<bean id="reportJobAclEntryCache" class="org.acegisecurity.acl.basic.cache.EhCacheBasedAclEntryCache">
		<property name="cache" ref="reportJobAclCache"/>
	</bean>

    <!-- export parameters for report job scheduling -->
    
    <bean id="jobXlsExportParameters" parent="xlsExportParameters">
        <!--
        <property name="detectCellType" value="false"/>
        <property name="onePagePerSheet" value="false"/>
        <property name="removeEmptySpaceBetweenRows" value="false"/>
        <property name="removeEmptySpaceBetweenColumns" value="false"/>
        <property name="whitePageBackground" value="false"/>
        <property name="ignoreGraphics" value="false"/>
        <property name="collapseRowSpan" value="false"/>
        <property name="ignoreCellBorder" value="false"/>
        <property name="fontSizeFixEnabled" value="false"/>
        <property name="maximumRowsPerSheet" value="0"/>
        <property name="xlsFormatPatternsMap" ref="formatPatternsMap"/>
        -->
    </bean>
    
    <bean id="jobCsvExportParameters" parent="csvExportParameters">
        <!-- property name="fieldDelimiter" value=","/-->
    </bean>
    
    <bean id="jobPdfExportParameters" parent="pdfExportParameters">
        <!-- property name="localizedFontMap" ref="localePdfFontMap"/-->
    </bean>
    
    <util:map id="jobExportParametersMap">
        <entry key="pdf" value-ref="jobPdfExportParameters"/>
        <entry key="xls" value-ref="jobXlsExportParameters"/>
        <entry key="csv" value-ref="jobCsvExportParameters"/>
    </util:map> 
    
    <!-- end export parameters for report job scheduling -->

	<bean id="contentResourceURIResolver" class="com.jaspersoft.jasperserver.api.engine.common.service.impl.DefaultContentResourceURIResolver">
		<property name="deploymentInformation"><ref bean="defaultWebDeploymentInformation"/></property>
		<property name="contentControllerPath"><value>/fileview/fileview</value></property>
	</bean>

    <bean id="defaultWebDeploymentInformation" class="com.jaspersoft.jasperserver.api.engine.common.service.impl.SimpleWebDeploymentInformation">
    	<property name="deploymentURI"><value>${report.scheduler.web.deployment.uri}</value></property>
    </bean>
    

</beans>
